{% extends 'base.html.twig' %}

{% block body %}



<head>
    <title>CV</title>
</head>
<body>
    <header>
        <h1>CV - DILAN</h1>
    </header>
    
    <section>
       
<div class="prez">
            <h2>Qui suis-je ?</h2>
            <p>Étudiant en BUT RT à l’IUT de Roanne. Cette voix m’a été toute indiquée car depuis déjà des années je suis passionné d’informatique et de technologie en général.</p>
            <a href="/CV (2).pdf">Télécharger mon CV</a>
        </div>
        <div class="contact">
            <h2>Informations & contact</h2>
            <div class="contact-flex">
                <p>Nom : </p>
                <p>Dilan ANDRE</p>
            </div>
            <div class="contact-flex">
                <p>Adresse : </p>
                <p>260 rue de Charlieu 42300 - Roanne</p>
            </div>
            <div class="contact-flex">
                <p>Téléphone :</p>
                <p>07 82 86 92 40</p>
            </div>
 <div class="contact-flex">
                <p>Mail : </p>
                <p><a href="mailto:dilan.andre@etu-univ-st-etienne.fr">dilan.andre@etu-univ-st-etienne.fr</a></p>
            </div>
            <div class="contact-flex">
                <p>Permis :</p>
                <p>B</p>
            </div>
</section>
    
    <section>
        <h2>Expériences professionnelles</h2>

        <div class="exp">
            <div class="exp-logo">
                <a href="#"><img src="/carrefour.png" alt="Logo"></a>
            </div>
            <div class="exp-info">
                <h3>Hote de caisse</h3>
                <h4>Carrefour Market</h4>
                <h4>Depuis Novembre 2021 </h4>
            </div>
            <div class="exp-desc">
                <p></p>
            </div>
        </div>

        <div class="exp">
            <div class="exp-logo">
                <a href=""><img src="/LEclerc.jpg" alt=" Logo"></a></div>
            <div class="exp-info">
                <h3>Hôte de caisse</h3>
                <h4>Centre LECLERC</h4>
                <h4>Mai 2021 - Aôut 2021</h4>
            </div>
            <div class="exp-desc">
                <p></p>
            </div>
        </div>

   <div class="exp">
            <div class="exp-logo">
                <a href="#"><img src="/negresso.jpg" alt="Logo"></a>
            </div>
            <div class="exp-info">
                <h3>Stage BTS</h3>
                <h4>Nergeco Assa Abloy</h4>
                <h4>Mai 2021 - Juillet 2021</h4>
            </div>
            <div class="exp-desc">
                <p></p>
            </div>
        </div>

           <div class="exp">
            <div class="exp-logo">
                <a href="#"><img src="/cabinet.png" alt="Logo"></a>
            </div>
            <div class="exp-info">
                <h3>Stage d'observation</h3>
                <h4>Cabinet dentaire du docteur Muizzo</h4>
                <h4>Décembre - 2016</h4>
            </div>
            <div class="exp-desc">
                <p></p>
            </div>
        </div>
    </section>
    
    <section>
        <h2>Formation</h2>

        <div class="exp">
            <div class="exp-logo">
                <a href=""><img src="/logo22.png" alt="Logo IUT de Roanne"></a>
            </div>
            <div class="exp-info">
                <h3>IUT DE ROANNE</h3>
       <h4>2022 - 2025</h4>
            </div>
            <div class="exp-desc">
                <p>Obtention de mon Bachelor Universitaire de technologie.(BUT)</p>
            </div>
     </div>

        <div class="exp">
            <div class="exp-logo">
                 <a href="#"><img src="/index.jpg" alt="Logo JC"></a>
            </div>
            <div class="exp-info">
                <h3>BAC S</h3>
                <h4>2017 - 2020</h4>
            </div>
             <div class="exp-desc">
                <p>Obtention de mon BAC (S) Option Science de l'ingénieur.</p>
            </div>
        </div>      
    </section>
    
    <section>
        <h2>Compétences</h2>
        <h3 class="h3gauche">Professionnelles</h3>
        <div class="comp">
            <p>Gestion réseau (Configuration Switch/PC, DHCP, DNS...)</p>
            <div class="conteneur-barre"><span class="barre c100"></span></div>
        </div>
        <div class="comp">
            <p>Gestion de projet agile</p>
            <div class="conteneur-barre"><span class="barre c95"></span></div>
        </div>
        <div class="comp">
            <p>Réglementatiion informatique (RGPD, norme de sécurité ...)</p>
            <div class="conteneur-barre"><span class="barre c90"></span></div>
        </div>
        <div class="comp">
            <p>Administration Linux (Gestion client/serveur, fichiers...)</p>
<div class="conteneur-barre"><span class="barre c100"></span></div>
        </div>
        <h3 class="h3gauche">Personnelles</h3>
        <div class="comp2">
            <p>Impliqué</p>
            <p>90%</p>
            <div class="conteneur-barre2"><span class="barre c90"></span></div>
        </div>
        <div class="comp2">
            <p>Capacité d'aptation</p>
            <p>95%</p>
            <div class="conteneur-barre2"><span class="barre c85"></span></div>
        </div>
        <div class="comp2">
            <p>Attentifx</p>
            <p>75%</p>
            <div class="conteneur-barre2"><span class="barre c95"></span></div>
        </div>
    </section>
   
    <section>
        <h2>Centres d'intérêts</h2>
        <figure class="interet">
            <img src="/art.jpg" alt="Sports">
            <figcaption>Sports</figcaption>
        </figure>
        <figure class="interet">
            <img src="/manga.jpg" alt="Manga">
            <figcaption>Manga</figcaption>
        </figure>
        <figure class="interet">
            <img src="/Tes.jpg" alt="Technologies">
            <figcaption>Technologies</figcaption>
 </figure>
        <figure class="interet">
            <img src="/kik.jpg" alt="Musique">
            <figcaption>Musique</figcaption>
        </figure>
    </section>

{% endblock %}