{% extends 'base.html.twig' %}

{% block title %}Portfolio Dilan ANDRÉ{% endblock %}

{% block body %}

<div class="place">
    <h1><strong> E-Portfolio </strong></h1>
    <h4>Mes qualités: Organisé, Déterminé et Interessé.</h4><br><br>
     <p> Bonjour, je m’appelle ANDRÉ Dilan j’ai 20 ans.professionnel , Pour le futur j’aimerais travailler en tant que White Hat (ou ethical hacker) et j’espère réussir mes études afin d’avoir un 
     emploi qui me plaît et de rendre fière les personnes qui croient en moi.</p>
</div>

    <div class="image">
        <div style=float:"right"><img src="{{ asset('PP.jpg') }}" alt=""width="20%"></div>
    </div>

    <div class:"vid">
        <h3><strong> Contact: </strong></h3><br><br>
        <h4>-Nom :André </h4><br>
        <h4>-Prénom: Dilan </h4><br>
        <h4>-Numéro de téléphone: 07 82 86 92 40 </h4><br>
        <h4>-Adresse mail: dilan.andre28@gmail.com</h4><br>
        <h4>-Adresse postale: 260 Rue de Charlieu </h4><br>
   </div>
<div class="pos">
    <button type="button" class="btn btn-danger">
    <a href="/dil/cv/pf/plus"> Pour en savoir plus</a>
    </button>
</div>

{% endblock %}


