{% extends 'base.html.twig' %}

{% block body %}

<table class="table table-hover">
<thead>
    <tr>
      <th scope="col">Compétences</th>
      <th scope="col">Apprentissages critiques</th>
      <th scope="col">Niveau d'acquisition</th>
    </tr>
    <tr>
      <th scope="row">Administrer les réseaux et l'internet</th>
      <td>Installer un poste client</td>
      <td>85%</td>
    </tr>
    <tr>
      <th scope="row">Créer des outils et applications informatiques pour les R&T</th>
      <td>Utiliser un système informatique et ses outils </td>
      <td>90%</td>
    </tr>
    <tr>
      <th scope="row">Connecter les entreprises et les usagers</th>
      <td>Mesurer et analyser les signaux</td>
      <td>70%</td>
    </tr>  
    <tr>
      <th scope="row">Administrer les réseaux et l'internet</th>
      <td>Savoir identifier les dysfonctionnements du réseau local</td>
      <td>75%</td>
    </tr>
    <tr>
      <th scope="row">Connecter les entreprises et les usagers</th>
      <td>Déployer des supports de transmission</td>
      <td>70%</td>
    </tr>


  </thead>

  </tbody>
</table>

{% endblock %}