{% extends 'base.html.twig' %}

{% block body %}
<body>
<div class="photo1">
    <div style=float:"right"><img src="{{ asset('Boule.jpg') }}" alt=""width="20%">
</div>

<div class="photo2">
    <div style=float:"center"><img src="{{ asset('PC.jpg') }}" alt=""width="20%">
</div>

<div class="photo3">
    <div style=float:"left"><img src="{{ asset('Conc.jpg') }}" alt=""width="20%">
</div>

    <div class="center">
        <h5> Bonjour, je m’appelle ANDRÉ Dilan j’ai 20 ans. Dans la vie mes loisirs ne se résume pas à ma 
        voie professionnel ,j’aime aussi passer du temps avec mes amis et ma famille ,je suis aussi passionné 
        par les manga, les sensations fortes, la musique et le sport : plus précisément les arts martiaux que je pratique depuis de nombreuses années. 
        Pour le futur j’aimerais travailler en tant que White Hat (ou ethical hacker) et j’espère réussir mes études afin d’avoir un emploi qui me plaît et 
        de rendre fière les personnes qui croient en moi.</h5>
    </div>
{% endblock %}